In [1]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

# Print the pandas version and the configuration
print(pd.__version__)

1.5.2

Create an empty pandas Series

Given the X python list convert it to an Y pandas Series

Given the X pandas Series, name it 'My letters'

Given the X pandas Series, name it 'My letters'

Given the X pandas Series, show its values

In [4]:
pd.Series()

X = ['A','B','C']

S = pd.Series(X)

S.name = 'My letters'
S.values

C:\Users\eporjus\AppData\Local\Temp\ipykernel_18828\1413013848.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series()

array(['A', 'B', 'C'], dtype=object)

Assign index names to the given X pandas Series

Given the X pandas Series, show its first element

Given the X pandas Series, show its last element

In [6]:
X = pd.Series(['A','B','C'])
X.index = ['first','second','third']
X['third']

'C'

Given the X pandas Series, show all middle elements

Given the X pandas Series, show the elements in reverse position

Given the X pandas Series, show the first and last elements

In [12]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])
X['second':'forth']
X[1:-1]
X[::-1]
X[[0,-1]]

first    A
fifth    E
dtype: object

Convert the given integer pandas Series to float

Reverse the given pandas Series (first element becomes last)

Order (sort) the given pandas Series

In [17]:
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])

pd.Series(X, dtype=float)
Y = X[::-1]
Y.sort_values()

first     1
second    2
third     3
forth     4
fifth     5
dtype: int64

Given the X pandas Series, set the fifth element equal to 10

Given the X pandas Series, change all the middle elements to 0

In [19]:
X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])

X.iloc[4] = 10
X
X[1:-1] = 0
X

A     1
B     0
C     0
D     0
E    10
dtype: int64

Given the X pandas Series, add 5 to every element

In [20]:
X = pd.Series([1,2,3,4,5])
X + 5

0     6
1     7
2     8
3     9
4    10
dtype: int64

Given the X pandas Series, make a mask showing negative elements

Given the X pandas Series, get the negative elements

Given the X pandas Series, get numbers higher than 5

Given the X pandas Series, get numbers higher than the elements mean

Given the X pandas Series, get numbers equal to 2 or 10

In [28]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
print(X < 0)
print(X[X<0]) 
print(X[X>5]) 
print(X[X>X.mean()]) 
print(X[(X==2)|(X==10)])

0     True
1    False
2    False
3     True
4    False
5    False
6    False
7    False
8     True
9    False
dtype: bool
0   -1
3   -4
8   -9
dtype: int64
5     6
9    10
dtype: int64
1     2
4     5
5     6
9    10
dtype: int64
1     2
9    10
dtype: int64

Given the X pandas Series, return True if none of its elements is zero

Given the X pandas Series, return True if any of its elements is zero

In [26]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
print(X.all(),X.any())

False True

Given the X pandas Series, show the sum of its elements

In [23]:
X = pd.Series([3,5,6,7,2,3,4,9,4])
X.sum()

43

Given the X pandas Series, show the mean value of its elements

In [21]:
X = pd.Series([1,2,0,4,5,6,0,0,9,10])
X.mean()

3.7

Given the X pandas Series, show the max value of its elements

In [22]:
X = pd.Series([1,2,0,4,5,6,0,0,9,10])
X.max()

10